.nav {
  background-color: black;
  padding: 0 10px;
  position: relative;
}

.dropdown-toggle {
  display: none; /* Hide by default */
  background-color: black;
  color: white;
  font-size: 25px;
  border: none;
  cursor: pointer;
  padding: 10px;
  text-align: center;
}

/* Style for the product list */
.product-line {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.product-line li {
  display: flex;
  justify-content: space-between;
}

.product-line a {
  color: white;
  text-decoration: none;
  font-size: 25px;
  width: 100%;
  padding: 20px 0;
  display: block;
  text-align: center;
}

.product-line a:hover {
  background-color: #333;
}

/* Media query for screens up to 768px */
@media (max-width: 768px) {
  .dropdown-toggle {
    display: block; /* Show the dropdown button */
  }

  .product-line {
    display: none; /* Hide the navigation items */
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    background-color: black;
  }

  .product-line.open {
    display: flex; /* Show items when dropdown is open */
  }

  .product-line a {
    font-size: 22px;
    padding: 15px 0;
  }
}

/* Media query for mobile devices */
@media (max-width: 480px) {
  .product-line a {
    font-size: 18px;
    padding: 10px 0;
  }
}
